@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MOVIE REGISTRATION</h1>
    <p>
        Register a movie <a asp-action="MovieRegistration" asp-controller="Home">here</a>.
    </p>
</div>